* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 22px;
}

body {
  background-color: #f5f5f5;
  min-height: 100vh;
  font-family: sans-serif;
}

.App04 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 2px);
  max-width: 500px;
  border: 1px solid #333;
  margin: 0 auto;
}

header {
  width: calc(100% - 2px);
  padding: 0 0.25rem;
  background-color: #333;
  color: #f5f5f5;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
}

footer {
  width: 100%;
  padding: 0.25rem;
  background-color: #333;
  color: #f5f5f5;
  display: grid;
  place-content: center;
}
